@media only screen and (min-width: 700px){
    html,body {
        overflow-x: hidden;
        font-size: 1.25em;
    }



    html {
        background: linear-gradient(
            rgba(0, 0, 0, 0.35),
            rgba(0, 0, 0, 0.35)
          ), url("../background2-mobile.jpg");
        background-position: left;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .home {
        top: .5em;
        font-size: .85em;
    }

    #listen {
        grid-column: 1;
        grid-row: 2;
    }

    #lyric {
        grid-column: 2;

    }

    .content {
        float: right;
    }

    .sippinWhiskey {
        background-image: none;
    }

    #overlay {
        display: grid;
        grid-template-columns: 300px 300px;
        grid-template-rows: 200px 75px 75px 300px;
        grid-gap: 1em;
    }

    .title, .subscribeGrid {
        grid-column-start: 1;
        grid-column-end: 3;
        text-align: center;
    }

   .listenButton {
        margin: 0;
        align-self: center;
   }

   .youtube {
       grid-column: 1 / -1;
       grid-row: 4;
       justify-self: center;
       align-self: center;
   }
    
   iframe {
       width: 400px;
       height: 200px;
   }

   #name {
       font-size: 75px;
       font-weight: 100;
   }

   h2 {
       margin: 0;
   }
    

    /* header {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }


    .navList li:first-child {
        display: none; 
    }

    .navList ul{
        list-style-type: none;
    }
    .navList li {
        display: inline;
        padding: 10px;
    }

    .navList a:hover {
        color: white;
    }

    .navList li a {
        justify-self: end;
    } */
    
  

    .socialMedia h3 {
        margin-top: 0;
    
    }
        
}
