@media only screen and (min-width: 32.5em){
    html {
        background-image: url(../background-medium.png);
        background-position: left;
        background-size: cover;
        background-repeat: no-repeat;
        background-color: none;
    }

    body {
        float: right;
    }

    .sippinWhiskey {
        background-image: none;
    }

    /* header {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }


    .navList li:first-child {
        display: none; 
    }

    .navList ul{
        list-style-type: none;
    }
    .navList li {
        display: inline;
        padding: 10px;
    }

    .navList a:hover {
        color: white;
    }

    .navList li a {
        justify-self: end;
    } */
    
    

    footer {

    }
        
}