html {
    background-color: rgb(51, 123, 83);
    font-family: 'Muli', sans-serif;
}

.sippinWhiskey {
    height: 100%;
    background-image: url("../background-small.png");
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    max-width: 767px;
    margin: 0 auto;
    text-align: center;
}


/* 
.logo {
    max-width: 25%;
    margin-bottom: 5px;
}

nav {
    text-align: center;
    margin: 0 auto;
}

nav ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    max-width:767px;
}

.navList li:first-child {
    display: block; 
}

.navList li {
    display: none;
    margin: 3px;
}

nav li a {
    text-align: center;
    text-decoration: none;
    font-size: 1.5em;
    color: #584d3d;
    margin: .75rem;

}

.responsive li {
    display: block;

} */


.youtube {
    margin-top: 10px;
}

iframe {
    width: 332px;
}

footer {
    margin: 0 auto;
}

footer ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* padding-inline-start: 0px; */
}

.socialMedia li{
    list-style-type: none;
    margin: 10px;
}

.socialMedia img {
    max-width: 50%;
}

