html {
    background-color: #5c9576;
    font-family: 'Muli', sans-serif;
}

body{
    margin: 0;
    color: rgb(211, 255, 211);
}

.sippinWhiskey {
    background: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ), url("../background-small.png");
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px;
    margin: 0 auto;
    text-align: center;
}

.sippinWhiskey h1,p {
    font-weight: 400;
    margin: 0;
}

.sippinWhiskey h1 {
    font-size: 2.5em;
}

.sippinWhiskey a {
    text-decoration: none;
    color: inherit;
}

.sippinWhiskey h2:hover {
    background-color: rgb(211, 255, 211);
    color: #5c9576;
}

.listenButton {
    font-size: 1.2em;
    margin: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
}


#headline {
    margin-top: -10px;
    margin-bottom: .7em;
    font-size: .75em;
}

.subscribe {
    padding: 20px;
    background-color: rgb(211, 255, 211);
    color: #5c9576;
}

#name {
    margin-top: 20px;
    font-family: 'Tangerine', cursive;
    font-size: 50px;
    font-weight: 100;
}


/* 
.logo {
    max-width: 25%;
    margin-bottom: 5px;
}

nav {
    text-align: center;
    margin: 0 auto;
}

nav ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    max-width:767px;
}

.navList li:first-child {
    display: block; 
}

.navList li {
    display: none;
    margin: 3px;
}

nav li a {
    text-align: center;
    text-decoration: none;
    font-size: 1.5em;
    color: #584d3d;
    margin: .75rem;

}

.responsive li {
    display: block;

} */

iframe {
    border-radius: 10px;
    box-shadow: 5px 10px 8px black;
}

.youtube {
    margin-top: 10px;
    
}

footer, .listenButton, .subscribe {
    border: .75px solid  rgb(211, 255, 211);
    border-radius: 10px;
    text-align: center;
    
}

footer {
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 75%;
    padding: 20px;
}

footer img {
    width: 2.5em;
}

.socialMedia {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    margin-top: 20px;
}

footer h2 {
    margin-bottom: 10px;
}

hr {
    border-color: rgb(211, 255, 211);
}

.facebook {
    justify-self: center;
}
.instagram {
    justify-self: center;
}
.twitter {
    justify-self: center;
}
.youtubeSm {
    justify-self: center;
}


